li {
  padding: 10px;
  list-style-type: none;
}
#arrayBox {
  margin-top: 1rem;
  border-radius: 5px;
  background-color: #343a40af;
}
button {
  width: 2.5rem;
  height: 2.5rem;
  font-size: 14px;
  border-radius: 50%;
  text-shadow: 2px 2px black;
  margin-bottom: 1rem;
  border-bottom-right-radius: 1px;
}
input {
  text-align: center;
}
#box {
  margin-bottom: 1rem;
}
span {
  margin: 5px;
}



